name: C CI

on: push

jobs:
  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4
      - name: Install clang-format
        run: |
          sudo apt-get update
          sudo apt-get install clang-format-19
      - name: Run clang-format
        run: clang-format-19 --Werror --dry-run *.{c,h}
        working-directory: trilogy-llvm/core
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4
      - name: Run clang-tidy
        run: clang-tidy-19 *.{c,h} --
        working-directory: trilogy-llvm/core
